# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
node_modules
# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
/context
/trutharena-fe/.next
/trutharena-fe/next-env.d.ts
/truth-arena-fe/bun.lock
/truth-arena-fe/package-lock.json
*.compiled.js
package-lock.json

